<h2>🛒 Carrito</h2>
<table class="cart-table">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems">
      <td><img [src]="item.image" alt="{{ item.title }}" class="cart-item-image" /></td>
      <td>{{ item.title }}</td>
      <td>
        {{ item.quantity }}
        <button (click)="decreaseQuantity(item)"class="quantity-button"style="margin-left: 15px;"> - </button>
        <button (click)="increaseQuantity(item)"class="quantity-button"style="margin-left: 15px;"> + </button>
      </td>
      <td>{{item.price * item.quantity}} €</td>
    </tr>
  </tbody>
</table>

<h3>Total: {{ total }} €</h3>